/*

   Hay 8px entre el borde de la carta y su contenido (las secciones azules).
  Hay un hueco de 8px entre las diferentes secciones azules.
  El titulo de la carta (la primera sección azul) tiene un tamaño de fuente de 16px.
  Hay 8px entre el titulo y el borde de dicha sección.
  La sección del medio tiene un espacio de 16px entre la parte superior y la inferior, y 8px a ambos lados.
- Todo dentro del .button-container está centrado con 8px de padding.
- El botón está centrado en su propia posición y tiene 24px de espacio a los lados, y 8px arriba y abajo.*/



body {
    background: #eee;
    font-family: sans-serif;
  }
  

  .card {
    
    width: 400px;
    background: #fff;
    margin: 16px auto;
    border: 1px solid black;
    padding: 8px;
   
   
    
  }
  
  .title {
    background: #e3f4ff;
    font-size: 16px;
    border: 1px solid black;
    padding: 8px;
    margin-top: 8px;

 
  }
  
  .content {
    background: #e3f4ff;
    border: 1px solid black;
    padding: 16px 8px;
    margin-top: 8px;
   
  }
  
  .button-container {
    background: #e3f4ff;
    border: 1px solid black;
    padding: 8px;;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;


  }
  
  button {
    background: white;
    border: 1px solid #eee;
    border: 1px solid black;
    
    margin-top: 8px;
    margin-bottom: 8px;
    
    
  }